html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #F2F2F2;
}

.header-block {
  height: 72px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  /* margin-left: -8px;
  margin-right: -8px; */
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  position: relative;
  max-width: 976px;
  margin-right: auto;
  margin-left: auto;
}

.image {
  width: 100%;
  max-width: 100%;
}

.logo {
  width: 100%;
  /* padding-left: 8px; */
  vertical-align: middle;
}

.header-block__order-row {
  display: none;
}

.main__order-row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.when-box,
.address-box {
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  width: 100%;
}

.basket-icon {
  display: none;
}

@media (min-width: 768px) {
  .header-block__order-row {
    display: flex;
  }
  .main__order-row {
    display: none;
  }
  .when-box,
  .address-box {
    display: initial;
  }
  .basket-icon {
    display: initial;
    /* flex: 1 1 0; */
  }
}

.product-row {
  display: flex;
  flex-wrap: wrap;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  padding-left: 8px;
  padding-right: 8px;
}

.col-xs-1 {
  flex-basis: 8.3333%;
}

.col-xs-2 {
  flex-basis: 16.6666%;
}

.col-xs-3 {
  flex-basis: 24.9999%;
}

.col-xs-4 {
  flex-basis: 33.3333%;
}

.col-xs-5 {
  flex-basis: 41.6665%;
}

.col-xs-6 {
  flex-basis: 49.9998%;
}

.col-xs-7 {
  flex-basis: 58.3331%;
}

.col-xs-8 {
  flex-basis: 66.6664%;
}

.col-xs-9 {
  flex-basis: 74.9997%;
}

.col-xs-10 {
  flex-basis: 83.3333%;
}

.col-xs-11 {
  flex-basis: 91.6663%;
}

.col-xs-12 {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  body {
    /* color: red; */
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-12 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .col-md-1 {
    flex-basis: 8.3333%;
  }
  .col-md-2 {
    flex-basis: 16.6666%;
  }
  .col-md-3 {
    flex-basis: 24.9999%;
  }
  .col-md-4 {
    flex-basis: 33.3333%;
  }
  .col-md-5 {
    flex-basis: 41.6665%;
  }
  .col-md-6 {
    flex-basis: 49.9998%;
  }
  .col-md-7 {
    flex-basis: 58.3331%;
  }
  .col-md-8 {
    flex-basis: 66.6664%;
  }
  .col-md-9 {
    flex-basis: 74.9997%;
  }
  .col-md-10 {
    flex-basis: 83.3333%;
  }
  .col-md-11 {
    flex-basis: 91.6663%;
  }
  .col-md-12 {
    flex-basis: 100%;
  }
}

.global-footer {
  height: 862px;
  background: #262626;
  color: white;
}

.separator-line {
  height: 1px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-left: 8px;
  margin-right: 8px;
}

.global-footer__menu {
  display: flex;
  flex-wrap: wrap;
}

.global-footer__apps {
  display: flex;
  flex-wrap: wrap;
}

.global-footer__documents {
  display: flex;
  flex-wrap: wrap;
}

.global-footer__logo-row {
  height: 116px;
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 95%;
}

@media (min-width: 768px) {
  .global-footer {
    height: 552px;
  }
  .footer-logo {
    width: 75%;
  }
}

@media (min-width: 1124px) {
  .footer-logo {
    width: 83%;
  }
}

.home-button {
  position: fixed;
  bottom: 24px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 2px;
  background: #59BD5A;
}

/* common and other stuff */

@media (min-width: 768px) {
  .home-button {
    width: 80px;
    height: 80px;
  }
}