/* to fix: системность оступов */

/* common styles */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

input[type="text"],
textarea {
  background-color: transparent;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-color: transparent;
  background-color: #3B3B3B;
  color: inherit;
}

.container {
  /* переписал отступы 8px 
  flexboxgrid2 контейнера 
  - нормальное решение? */
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}

.image {
  width: 100%;
  height: 250px;
}

.separator-line {
  height: 1px;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-left: 8px;
  margin-right: 8px;
}

.font-one {
  font-size: 22px;
  line-height: 34px;
}

.font-two {
  font-size: 16px;
  line-height: 24px;
}

.font-three {
  font-size: 14px;
  line-height: 21px;
}

.font-four {
  font-size: 13px;
  line-height: 21px;
}

/* refactor? */

.common-padding {
  padding-left: 8px;
  padding-right: 8px;
}

.separator-line_white {
  background: #FFFFFF;
}

.separator-line_gray {
  background: #757575;
}

.home-button {
  /* как реализовать fixed в рамках родителя?  */
  position: absolute;
  bottom: 24px;
  right: 16px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: #59BD5A;
}

.home-button__arrow {
  height: 40%;
}

/* common styles  @media */

@media (min-width: 768px) {
  .image {
    height: 256px;
  }
  .home-button {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1124px) {
  body {
    background-color: #FFFFFF;
  }
}

/* header-block */

.header-block {
  height: 72px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.auth-buttons {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  align-items: center;
}

.signin-button,
.register-button {
  flex-basis: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-button {
  margin-right: 12px;
}

.register-button {
  background-color: #262626;
  color: white;
}

.header-block__logo {
  flex-basis: 40%;
  width: 100%;
}

.header-block__food-order-row {
  display: none;
}

.basket-icon {
  display: none;
}

.header-block__when-input,
.header-block__address-container,
.signin-button,
.register-button {
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  text-align: center;
}

/* header-block @media */

@media (min-width: 768px) {
  .header-block {
    justify-content: normal;
  }
  .header-block__logo {
    /* refactor ? */
    flex: 0.1 1 auto;
    max-width: 120px;
  }
  .header-block__food-order-row {
    display: flex;
    justify-content: flex-start;
    /* refactor ? */
    flex: 15 1 auto;
    max-width: 370px;
    padding-left: 22px;
  }
  .auth-buttons {
    /* refactor ? */
    flex: 1 1 auto;
  }
  .signin-button,
  .register-button {
    flex-basis: 80px;
    width: 80px;
    margin-right: 16px;
  }
  .header-block__when-input,
  .header-block__address-input {
    display: initial;
    min-width: 10%;
  }
  .header-block__when-input {
    flex-basis: 15%;
  }
  .header-block__address-container {
    width: 292px;
    display: flex;
  }
  .header-block__address-input {
    border-color: transparent;
    width: 100%;
  }
  .header-block__location-img {
    margin: 0px 12px;
  }
  .header-block__address-input-label {
    flex-basis: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
  .basket-icon {
    display: initial;
    /* flex: 1 1 0; */
  }
}

@media (min-width: 1124px) {
  .header-block__food-order-row {
    max-width: initial;
    justify-content: center;
    padding-left: initial;
  }
  .header-block__when-input {
    max-width: 65px;
  }
  .auth-buttons {
    flex-basis: 25%;
  }
}

/* global-footer */

.global-footer {
  font-size: 13px;
  line-height: 15px;
  background: #262626;
  color: white;
}

.global-footer__link-box {
  padding: 10px 0px;
}

.global-footer a {
  color: white;
  text-decoration: none;
}

.global-footer__menu {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0px;
}

.global-footer__apps {
  display: flex;
  justify-content: ;
  padding: 24px 0px;
}

.global-footer__apps>* {
  padding: 0px 10px;
}

.global-footer__documents {
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  line-height: 13px;
  padding: 32px 0px;
}

.global-footer__select-box {
  width: 173px;
  height: 40px;
  margin-bottom: 25px;
  color: white;
  background-color: #3B3B3B;
}

.global-footer__world-icon {
  display: inline-block;
  padding-left: 16px;
  margin-top: 10px
}

.global-footer__select {
  display: inline-block;
  padding-left: 16px;
  /* padding-bottom: 20px; ? не отрабатывает */
}

.global-footer__select-arrow-icon {
  padding-left: 40px;
  padding-bottom: 3px;
}

.global-footer__logo-row {
  height: 116px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.footer-logo {
  width: 95%;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 96px;
  height: 59px;
}

.ubereats-hashtag {
  flex-basis: 100%;
  color: #49A144;
  font-size: 16px;
  line-height: 19px;
}

/* footer @media */

@media (min-width: 768px) {
  .global-footer {
    height: 552px;
  }
  .footer-logo {
    width: 75%;
  }
  .social-media {
    width: 92px;
    height: 60px;
  }
  .global-footer__apps {
    justify-content: center;
    padding: 40px 0px;
  }
  .global-footer__apps>* {
    padding: 0px 20px;
  }
}

@media (min-width: 1124px) {
  .footer-logo {
    width: 83%;
  }
}